h2
pydantic
scrapy-spider-metadata
sphinx
sphinx-notfound-page
sphinx-rtd-theme
sphinx-rtd-dark-mode
sphinx-scrapy @ git+https://github.com/scrapy/sphinx-scrapy.git@1b0170e8592c82b4fc79edaf7b05dc081e037cef
